* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
}

.container {
  display: flex;
  /* justify-content: space-between; */
}

.box {
  flex-grow: 1;
}

.red {
  width: 100px;
  height: 100px;
  background: red;
}

.green {
  width: 100px;
  height: 100px;
  background: lightgreen;
  flex-grow: 5;
}

.coral {
  width: 100px;
  height: 100px;
  background: coral;
}

.blue {
  width: 100px;
  height: 100px;
  background: blue;
}

#main {
  width: 95%;
  margin: auto;
  text-align: center;
}

.info-container {
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  /* text-align: center; */
}

.info-container div {
  float: left;
  width: 25%;
  background: #f6f6f6;
  /* text-align: center; */
  padding: 60px 0;
}

.info-container div p:first-child {
  margin-bottom: 20px;
  font-weight: 600;
}

/* product */
.product {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.product-wrap {
  position: relative;
}

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-real {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f6f6f6ab;

  top: 100%;
  transition: all 0.5s;
}

.overlay-wrap:hover .overlay-real {
  top: 60%;
}

.overlay-real p {
  padding-top: 8%;
  font-size: 60px;
  color: #fff;
}

.product-wrap img {
  width: 100%;
}

/* Media Query */

@media screen and (max-width: 992px) {
  .info-container div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .info-container div {
    float: none;
    width: 100%;
  }
}
