/* RESET */
html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
p,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  font-size: 14px;
  font-family: Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo', sans-serif;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

fieldset {
  border: 0;
}

/* CONTENT */
.grid-parents {
  display: grid;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-template-rows: 80px 100px 100px;
  grid-gap: 10px;
}

.grid-parents div {
  border: 1px solid #000;
}

.grid-nav {
  grid-column: 1/4;
}

.grid-menu {
  grid-row: 2/4;
}

.grid-main {
  grid-column: 2/4;
  grid-row: 2/4;
}

/* Sticky */
body {
  background: #000;
}

.container {
  width: 90%;
  max-width: 1920px;
  margin: auto;
}

/* Video background */
.video-box {
  position: relative;
  height: 1000px;
  width: 100%;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.video-box h1 {
  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 1;
  margin-top: 100px;
  font-size: 180px;
  color: #fff;
  width: 100%;
}

.grey {
  height: 2000px;
  margin-top: 100px;
  margin-bottom: 1600px;
}

.grey h2 {
  position: sticky;
  float: left;
  color: #fff;
  width: 40%;
  top: 300px;
  padding: 40px;
  font-size: 30px;
}

.grey img {
  position: sticky;
  float: right;
  top: 100px;
}
